# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb?schema=public" # replace with your database url
AUTH_SECRET="your-secret-here"

GITHUB_CLIENT_ID="your-github-client-id-here"
GITHUB_CLIENT_SECRET="your-github-client-secret-here"
GOOGLE_CLIENT_ID="your-google-client-id-here"
GOOGLE_CLIENT_SECRET="your-google-client-secret-here"

RESEND_API_KEY="your-resend-api-key-here"
RESEND_FROM_EMAIL="your-resend-from-email-here" # default: onboarding@resend.dev

NEXT_PUBLIC_URL="http://localhost:3000"

NEXT_PUBLIC_PUSHER_APP_KEY="your-pusher-app-key"
PUSHER_APP_ID="your-pusher-app-id"
PUSHER_SECRET="your-pusher-secret-key"
PUSHER_CLUSTER="your-pusher-cluster"

GOOGLE_API_KEY="your-google-api-key-here"

SPOTIFY_API_URI="https://api.spotify.com/v1"
SPOTIFY_CLIENT_ID="your-spotify-client-id-here"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret-here"
SPOTIFY_REDIRECT_URI="http://localhost:3000/api/spotify/callback"